body{
    display:flex;
    justify-content: center;
    align-items: center;
    height: 95vh;
    background-color: #fff;
    margin: 0;
}
.container{
    width: 100px;
    height: 50px;
    border: 2px solid #ccc;
    border-radius: 25px;
    background-color: #ccc;
    position: relative;

}
.toggle-switch{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: white;
     position:absolute;
    top: 0;
    left: 0; 
    transition: 0.3s;
    cursor: pointer;
}
.toggle-switch.on{
    left: 50px;
    background-color: #4caf50;
}